name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload Artifact to GitHub Action
      uses: actions/upload-artifact@v6
      if: success()
      with:
        name: 'TnTIgniter.jar'
        path: 'build/libs/TnTIgniter.jar'
